* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Josefin+Sans&display=swap");

body {
  font-family: var(--font2);
  color: var(--color2);
}
/*font-family: 'Cardo', serif;
font-family: 'Josefin Sans', sans-serif;*/

/* || vars */
:root {
  --bgColor: #1d1c1c;
  --primaryColor: #1dee3e;
  --color2: #ececec;
  --font1: "Cardo", serif;
  --font2: "Josefin Sans", sans-serif;
}

/* || dark-mode*/

.light-theme {
  --bgColor: #fff;
  --color2: #262626;
}

#theme-btn {
  z-index: 1000;
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  isolation: isolate;
}

#theme-btn svg {
  fill: #f8f8f8;
}

.toggle-circle {
  transform: translateX(-15%);
  transition: transform 500ms ease-out;
}

.light-theme .toggle-circle {
  /* transform: translateX(-15%); */
  transform: translateX(0);
}

.toggle-sun {
  transform-origin: center center;
  transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
}

.light-theme .toggle-sun {
  transform: rotate(0.5turn);
}

/* || General Styles */
body {
  background: var(--bgColor);
}
.section {
  width: 100%;
  height: 39rem;
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  background: none;
  border: none;
  outline: none;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.h-center-absoulte {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.img-bg {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.bew {
  filter: grayscale(100%);
}
/* || Tipografia */
.heading1 {
  font-family: var(--font1);
  font-size: 3rem;
  font-weight: 540;
  text-transform: uppercase;
}

.heading2 {
  font-family: var(--font1);
  color: var(--primaryColor);
  font-size: clamp(1.9rem, 2.8rem, 4vw);
  font-weight: 540;
  text-align: center;
}

.heading3 {
  font-size: clamp(1rem, 1.5rem, 2vw);
  text-align: center;
}

.heading4 {
  color: var(--primaryColor);
  font-size: clamp(1.2rem, 2rem, 2vw);
  text-align: center;
}

/* || Navbar */
#navbar {
  height: 3.5rem;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav-down {
  background: rgba(0, 0, 0, 0.171);
  backdrop-filter: blur(2px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.507);
}
.nav-down #logo {
  text-shadow: none;
}

#logo {
  color: #fff;
  font-family: var(--font1);
  text-transform: uppercase;
  font-size: 1.8rem;
  text-shadow: 2px 2px 5px rgba(20, 20, 20, 0.575);
}

/* || Menu */
#menu-btn-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10000;
}
.menu-btn {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  cursor: pointer;
  transform-origin: center;
}
.menu-circles {
  width: 13px;
  aspect-ratio: 1/1;
  height: 13px;
  border: 0.18rem solid #fefefe;
  border-radius: 50%;
}

.menu-btn:hover .menu-circles {
  animation: menuBtnHover 150ms linear 1 forwards;
  animation-delay: calc(var(--order) * 50ms);
}

.menu-btn-open {
  animation: menuOpen 1.5s cubic-bezier(0.35, -0.07, 0.09, 1.18) forwards;
}

.menu-btn-open .menu-circles {
  background: #fefefe;
  border: none;
}

.links-container {
  position: fixed;
  top: 0;
  left: 0rem;
  transform: translateX(-17rem);
  gap: 30px;
  height: 100vh;
  width: 17rem;
  background: rgba(20, 20, 20, 0.575);
  backdrop-filter: blur(3px);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.397);
  opacity: 0.7;
  transition: transform 900ms cubic-bezier(0.35, -0.07, 0.09, 1.18);
  z-index: 100;
}

.links-container-open {
  transform: translateX(0);
  opacity: 1;
}

.navbar-links {
  text-decoration: none;
  color: #f8f8f8;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
}

.navbar-links hr {
  opacity: 0;
  width: 0;
  transition: width 200ms ease-out;
}
.navbar-links:hover hr {
  opacity: 1;
  width: 100%;
}

.tema-container {
  left: 50%;
  transform: translateX(-50%);
}
#tema-name {
  position: relative;
  top: 50px;
  text-transform: uppercase;
  color: #f8f8f8;
}

/* || section: inicio */
#inicio {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#bg-inicio {
  background: url("./img/imagem\ floresta.jpg");
}

#inicio-text {
  position: relative;
  right: 10px;
  color: #fefefe;
}

#it-title {
  text-align: center;
  font-family: var(--font1);
  text-transform: uppercase;
  font-size: clamp(2rem, 4vw, 4rem);
  letter-spacing: 1px;
}

.tl-descrition {
  color: var(--primaryColor);
  filter: grayscale(0%);
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(2vw, 3vw, 1.5rem);
  text-shadow: 2px 2px 5px rgba(20, 20, 20, 0.575);
}

.vl {
  height: 100%;
  width: 3px;
  background: var(--primaryColor);
}

#it-text {
  width: clamp(70%, 500px, 90%);
  text-align: left;
  font-size: clamp(15px, 2vw, 1.8rem);
}
/* || section: prologo */
#prologo {
  position: relative;
  background-size: cover;
  background-position-y: -50px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#bg-prologo {
  background: url("./img/fotoTartaruga\ 1.jpg");
  background-size: cover;
}
#prologo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primaryColor);
  padding-left: 5px;
  margin: 5px;
  width: 550px;
  height: 90px;
  border-radius: 5px;
}
#prologo-text {
  margin-right: 10px;
  text-align: left;
  font-size: clamp(1.6rem, 3vw, 3rem);
  color: #262626;
  font-family: var(--font1);
  text-transform: uppercase;
}
#prologo-wrapper span {
  color: #262626;
  text-align: left;
  font-size: clamp(13px, 1.5vw, 1rem);
}

/* || section: callouts */
#callouts {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
#bg-callout1 {
  background: url("./img/callout2.jpg");
  background-position: center;
  background-size: cover;
}

.callout-wrapper {
  background: var(--primaryColor);
  width: clamp(35%, 70%, 500px);
  height: 250px;
  background: rgba(0, 0, 0, 0.322);
  border-radius: 5px;
  backdrop-filter: blur(4px);
  padding: 10px;
}
.callout-wrapper span {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font1);
  color: var(--primaryColor);
  font-size: 2rem;
}
.callout-wrapper p {
  font-size: 1.2rem;
  color: #fefefe;
}
/* || motivos **/

#motivos {
  height: 100%;
  display: grid;
  grid-template-rows: 18vh 1fr;
  overflow: hidden;
}

.topic-wrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topic-text-wrapper {
  width: 700px;
}
.topic-text {
  width: clamp(50%, 90%, 70%);
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: justify;
  line-height: 25px;
}

.topic-img {
  border: 2px solid var(--primaryColor);
  width: 300px;
  height: 300px;
  aspect-ratio: 1/1;
  border-radius: 4px;
}
/* || soluções section */
#solution {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

.solution-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solution-box p {
  text-align: justify;
  font-size: 1.3rem;
  margin-bottom: 10px;
  width: clamp(400px, 60%, 600px);
}

#globo-box {
  width: 305px;
  height: 305px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  overflow: hidden;
}
#globo-box * {
  grid-column: 1/2;
  grid-row: 1/2;
}
#globo-arrows {
  top: 46%;
}

#solution-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
}
/* || video section */
#video {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#video header {
  margin: 10px;
}

.video-text {
  width: clamp(300px, 50%, 500px);
}
#video-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

#video-src {
  width: clamp(270px, 70%, 600px);
}
/* 735px*/
@media screen and (max-width: 735px) {
  #video-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
}
/* || cards section */
#about {
  height: 110vh;
  background: url("./img/bgCards.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card-container {
  width: 500px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.card-wrapper {
  width: 220px;
  height: 260px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 70px;
  height: 70px;
  background: #fff;
  position: absolute;
  top: -20px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
}

.card-info {
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
}
.card-social-wrapper {
  position: absolute;
  bottom: 20px;
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-social {
  width: 45px;
  height: 45px;
  background: rgba(8, 8, 8, 0.658);
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

@media screen and (max-width: 550px) {
  #about {
    height: 100%;
    padding: 10vh;
  }
  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .card-wrapper {
    margin-bottom: 50px;
  }
}
/* || footer section */
footer {
  width: 100%;
  height: 25vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.527);
}

.footer-links {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color2)
  font-size: clamp(0.6rem, 1vw, 1rem);
}
.footer-links:hover {
  color: var(--primaryColor);
}

#footer-links-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#footer-info {
  top: 25px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
#footer-name {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: var(--font1);
}

/* || responsivilidade desktop/tablet */
@media screen and (max-width: 1065px) {
  /* || general styles */
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* || section: inicio */
  #inicio {
    height: 100%;
  }

  #inicio-text {
    right: 0;
  }
  #img-copo {
    margin-top: 70px;
    width: 300px;
  }

  /* || section: callout */
  #bg-callout1 {
    background-position-y: bottom;
  }

  /* || section: motivos */
  #motivos {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
    gap: 10px;
  }

  .topic-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .topic-text-wrapper {
    width: 100%;
  }
  .topic-text {
    width: clamp(50%, 90%, 70%);
    font-size: 1.1rem;
  }

  .topic-img {
    border: 2px solid var(--primaryColor);
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
    border-radius: 4px;
  }
}

/* || responsivilidade mobile */
@media screen and (max-width: 600px) {
  /* || Menu */
  .links-container {
    width: 100%;
    height: 100vh;
    transform: translateX(-38rem);
  }
  .links-container-open {
    transform: translateX(0);
    opacity: 1;
  }
  /* || section: prologo */
  #prologo {
    align-items: center;
    height: 25vh;
  }
  #prologo-wrapper {
    width: 350px;
  }
  /* || section: motivos */

  #motivos .heading2 {
    font-size: 1.1rem;
  }

  #motivos .heading4 {
    font-size: 0.9rem;
  }

  .topic-img {
    width: 80%;
  }
  .topic-text {
    font-size: 0.9rem;
  }
  /* || section: soluções */
  #solution .heading2 {
    font-size: 8vw;
  }
  .solution-box p {
    font-size: 1rem;
    width: 90%;
  }

  #solution-imgs img {
    width: 100px;
  }
}

/* || animations **/
@keyframes menuBtnHover {
  100% {
    background: #fefefe;
  }
}

@keyframes menuOpen {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes sunLine {
  100% {
    transform: rotate(100deg);
  }
}
